.app-sidebar-primary .app-sidebar-menu .menu>.menu-item>.menu-link{
    height: 65px !important;
}

.required:after{
    content: '';
    display: none;
}

@media (min-width: 992px) {
    .app-sidebar-primary .app-sidebar-menu .menu > .menu-item {
        margin-bottom: 0;
    }
}
.pjax-loader{
    display: none;
}
.pjax-loader-container{
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    width: 120px;
    height: 120px;
    z-index: 99999;
}
.pjax-loader-icon{
    background-image: url('//fresto-code.github.io/afresto-assets-cdn/logo/afresto.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bs-drawer-overlay-bg-color);
    padding: 10px;
    border-radius: 50%;
}
.pjax-loader-animate {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #e89603;
    border-bottom: 16px solid #006617;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1.2s linear infinite;
    width: 100px;
    height: 100px;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.form-control.validating{
    padding-right: calc(1.5em + 1.55rem);
    background-image: url('https://fresto-code.github.io/afresto-assets-cdn/image/animation/loading.gif');
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.3875rem) center;
    background-size: calc(0.75em + 0.775rem) calc(0.75em + 0.775rem);
}
textarea.form-control.validating {
    padding-right: calc(1.5em + 1.55rem);
    background-position: top calc(0.375em + 0.3875rem) right calc(0.375em + 0.3875rem);
}
@media only screen and (min-width: 600px) {
    .afresto-voice-result {
        border-top: none !important;
        width: 600px;
        bottom: 10px !important;
        left: calc(100vw / 2 - 310px) !important;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

[data-kt-drawer="on"] .bottom-sheet-wrapper {
    z-index: 1 !important;
}

@media (min-width: 1470px) {
    [data-kt-app-sidebar-fixed=true] .bottom-sheet-wrapper {
        margin-left: calc(var(--bs-app-sidebar-width) + var(--bs-app-sidebar-gap-start, 0px) + var(--bs-app-sidebar-gap-end, 0px) + 28px);
        margin-right: 28px;
    }
}
[data-kt-sticky-enabled="true"] .hidden-on-sticky-mode {
    display: none !important;
}
.show-on-sticky-mode {
    display: none !important;
}
[data-kt-sticky-enabled="true"] .show-on-sticky-mode {
    display: block !important;
}
[data-kt-sticky-enabled="true"] .flex-on-sticky-mode {
    display: flex !important;
}